body{
    background-color: lightgray;
}

.badge{
    position: fixed;
    left: 80px;
    bottom: -50px;
    background-color: purple;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 90px;
    width: 120px;
    box-sizing: border-box;
    padding: 5px 5px 5px 8px;
    transition: all 1s ease;
}

.badge:hover{
    bottom: 0;
    background-color: rgb(66, 134, 244);
}

@media	print	{
    .badge{
        background-color: white;
        border: 1px solid purple;
        color: black;
        bottom: 0;
        height: 50px;
    }

    .badge>.header{
        display: none;
    }
}

.badge>.header{
    margin-bottom: 10px;
    font-size: 25px;
}

.badge>.created{
    font-size: 12px;
    margin-bottom: 7px;
}

.badge>.author{
    font-size: 17px;
}

.main-container{
    margin: auto;
    margin-top: 8%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: space-between;
    width: 90%;
}

.box{
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 15px;
    background-color: white;
}

.right{
    width: 250px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.left{
    width: 450px;
    flex: 2 auto;
    display: flex;
    flex-direction: column;
}

.content-box{
    height: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.content-box input{
    height: 85%;
    width: 85%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 10px;
}

.content-box button {
    height: 85%;
    display: inline-block;
    width: 15%;
    box-sizing: content-box;
    background-color: rgb(66, 134, 244);
    border-color: rgb(66, 134, 244);
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.content-box button:hover{
    background-color: rgb(60, 110, 200);
    border-color: rgb(60, 110, 200);
}

.resizable-box{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

.item-box{
    background-color: lightgrey;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    display: flex;
    flex-direction: row;
}

.item-name{
    font-size: 12px;
    padding: 5px;
    margin-right: 2px;
}

.item-counter{
    display: inline-block;
    background-color: rgb(244, 176, 66);
    border-radius: 50%;
    font-size: 12px;
    padding: 5px;
    text-align: center;

    min-width: 15px;
    min-height: 15px;
}

.heading{
    text-align: center;
    font-size: 25px;
    margin-left: 20px;
}

.bottom{
    border-bottom: none;
}

.item-line {
    display: flex;
    flex-direction: row;
    border-top: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 10px;
}

.name{
    margin-left: 10px;
    width: 150px;
    margin-top: auto;
    margin-bottom: auto;
}

.quantity-control{
    margin: auto;
    display: flex;
    flex-direction: row;
}

.quantity-control button{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: none;
    color: white;
}

.quantity-control span{
    margin-right: 5px;
    margin-left: 5px;
    width: 21px;
    height: 21px;
    line-height: 21px;
    background-color: lightgrey;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    padding: 2px;

}

.increase{
    background-color: green;
}

.increase:hover{
    background-color: darkgreen;
}

.decrease{
    background-color: red;
}

.decrease:hover{
    background-color: darkred;
}

.buttons{
    margin-right: 10px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bought{
    background-color: lightgrey;
    border-color: lightgrey;
    margin-right: 5px;

}

.bought:hover{
    background-color: darkgray;
    border-color: darkgray;
}

.delete{
    background-color: red;
    border-color: red;
    color: white;
}

.delete:hover{
    background-color: darkred;
    border-color: darkred;
}

button{
    position: relative;
    z-index: 1;
}

button::after {
    content: attr(data-tooltip);
    opacity: 0;
    position: absolute;
    visibility: hidden;
    background-color: purple;
    border-radius: 5px;
    color: white;
    padding: 2px;
    text-align: center;
    font-size: 0;
    height: 0;
    line-height: 15px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: all 1s ease-out .3s;
    z-index: 0;
    pointer-events: none;
}

button:hover::after {
    bottom: 34px;
    font-size: 10px;
    height: 15px;
    opacity: 1;
    visibility: visible;
}

